name: CI
on:
  push:
    branches: [master]
  
jobs:
  setup-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JAVA JDK 17
        uses: actions/setup-java@v3.9.0
        with:
          java-version: '17'
          distribution: 'adopt'
        
      - name: Change permission of gradlew script
        run: chmod +x gradlew
        
  lint:
    needs: setup-deps
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3.5.2

      - name: Run Lint
        run: ./gradlew lintDebug
        
      - name: Upload html lint report
        uses: actions/upload-artifact@v3.1.2
        with:
          name: lint.html
          path: app/build/reports/lint-results-debug.html
          
  unit-test:
    needs: setup-deps
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the code
      uses: actions/checkout@v3.5.2
      
    - name: Run tests
      run: ./gradlew test
      
    - name: Upload test repport
      uses: actions/upload-artifact@v3.1.2
      with:
        name: unit_test_repport
        path: app/build/reports/tests/testDebugUnitTest/
